@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('../images/HP3.JPG');
@import url('../images/HP4.jpg');
@import url('../images/Homepage2.jpg');
@import url('../images/Img3.jpg');


html{
    scroll-behavior: smooth;
}
body{
  /*  overflow: hidden;*/
    margin: 0;
    padding:0;
  }
header{
    position: relative;
}
#home-page{
   width:100%;
   padding:0%;
 }

/*Footer Styling*/
footer{
    height:150px;
}
.social-networks{
    text-align:center;
}
.social-networks li{
display:inline;
}
.social-networks i{
    font-size:180%;
    margin:1%;
    padding:5%;
    color:#777777;
}

/*About me Styling*/

h6{
    text-align:center;
}

h6 > img{
    max-width: 35%;
    border-radius:50%;
}

p{
    font-size:100%;
    font-family:lato;
    text-align: justify;
    color: black;
    padding:5%;
}


.row {
   /*display: flex; equal height of the children*/ 
    height:100vh;
    
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid;
}



/* Image Slide show styling*/

  #imgscroll{
      width:100%;
      /*height:400px;*/
      background-image: url("../images/HP4.jpg");
      display:inline-block;
      position: relative;
      /*top:50%;*/
      background-size: 100% 100%;
      box-shadow: 1px 2px 10px white;
      animation:slider 12s infinite linear;
}
@keyframes slider{
    0%{background-image: url("../images/HP4.jpg");}
    25%{background-image: url("../images/HP3.JPG");}
    50%{background-image: url("../images/Homepage2.jpg");}
    75%{background-image: url("../images/Img3.jpg");}
}
/*Gallerypage styling*/
#gallery-page{
    clear:both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
   
}
#gallery-page img{
    width:100%;
    height:auto;
}

/* contact form*/
input[type=text],[type=email],textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}